<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901529431291-67cibc1dn3uci09r56meptjlf5a65umv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901529431291-67cibc1dn3uci09r56meptjlf5a65umv</string>
	<key>API_KEY</key>
	<string>AIzaSyCsD2h-p_opoPKY2R_omGsgh_GlzS3cs1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>901529431291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.in-etile</string>
	<key>PROJECT_ID</key>
	<string>elite-90e8f</string>
	<key>STORAGE_BUCKET</key>
	<string>elite-90e8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901529431291:ios:0af36febab03206827945e</string>
</dict>
</plist>